@use "../styles/colors";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

input,
textarea {
  background: colors.$secondary;
  border: none;
  outline: none;
}
