// Theme colors
$primary: #f0eee9;
$secondary: #e5e5de;
$contrast: #b96ac5;

// Dark theme colors
$dark-primary: #252525;
$dark-contrast: #b96ac5;

// Grayscale
$white: #ffffff;
$gray: #707070;
$black: #000000;

$black-opaque: rgba(0, 0, 0, 0.7);
